# Class 2

### Loops

#### For Loop

In [53]:
range(1,5)#[1,2,3,4]

range(1, 5)

In [39]:
for i in range(3,10): #  [3,4,5,6,7,8,9]
    print(i)
    print(i*2)

3
6
4
8
5
10
6
12
7
14
8
16
9
18

In [42]:
for num in range(10,18,2): #[10,12,14,16]
    print(num)

10
12
14
16

#### While Loop

In [44]:
x = 0
x

0

In [45]:
x = 0
while x < 5: #0, 1
    x += 1  #x = x + 1 , x = 0 + 1 = 1, 2, 3, 4, 5
    print(x)
print(x)

1
2
3
4
5
5

In [58]:
a = True
type(a)

bool

In [59]:
a = 'true'
type(a)

str

In [50]:
x = 0
while True:
    if x == 10:
        break
    x += 1
    print(x)
print('Out of loop')

1
2
3
4
5
6
7
8
9
10
Out of loop

## Functions
Functions are extremely useful in creating peices of code you want to call or use several times in our program.

In [51]:
radius = 12
area1 = 3.14 * (radius**2)
area1

452.16

In [54]:
radius2 = 13
area2 = 3.14*(radius2**2)
area2

530.66

In [56]:
areaCircle(12)

452.16

In [57]:
areaCircle(13)

530.66

In [58]:
areaCircle(20)

1256.0

In [66]:
print('ghjdsfbuis')

ghjdsfbuis

In [77]:
def areaCircle(radius):
    area = 3.14 * (radius**2)
    return area

In [82]:
#user input
a = int(input('Give me a number:'))

Give me a number:39

In [78]:
var1 = areaCircle(12)
var1

452.16

In [91]:
def volumeCylinder(radius = 20, height = 2):
    volume = 3.14 * radius**2 * height
    return volume

# volumeCylinder(height = 9, radius = 2)

In [94]:
volumeCylinder(height = 5, radius = 2)

157.0

In [95]:
volumeCylinder(radius = 5, height = 2)

157.0

In [87]:
volumeCylinder(radius = 9, height = 2)

508.68

In [64]:
volumeCylinder( height = 10, radius = 2)

125.60000000000001

## Lambda function

In [102]:
def AddTen(number):
    return number + 10

AddTen(65)

75

In [105]:
AddTen(1)

11

In [ ]:
x = 5

In [99]:
x = lambda a : a + 10

In [98]:
x = lambda a : a + 10
print(x(65))

75

In [101]:
lambda a,b : a + b

In [108]:
x1 = lambda a,b,c,d,e : a + b + c * d - e


print(x1(1,2,3,4,5))

10

# Homework Questions

In [72]:
#Question1: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [78]:
#Question2: Return the total count of sub-string “Emma” appears in the given string
sampleStr = "Emma is good developer. Emma is a writer"

In [86]:
#Question3: Reverse the given string
mystring = 'Parag'
#expexted output : 'garaP'

### Array or List or Vector Variables
**Arrays or List or Vector ** are extremely useful in programming. Think of them as containers with different compartment, where each compartment stores another variable.

In [117]:
a = 5
a

5

In [109]:
list1 = [1,2,3,4,5]

In [110]:
type(list1)

list

In [111]:
list1

[1, 2, 3, 4, 5]

In [112]:
list2 = ['Hi', 'Hello', 'Bye']
list2

['Hi', 'Hello', 'Bye']

In [118]:
list3 = [1, 2, 'Hi', 'Hello', True, 4.5]
list3

[1, 2, 'Hi', 'Hello', True, 4.5]

In [119]:
# A Simple array or integers
### empty list
l = ["siddhant",'parag','naman'] 
roll_no = [101,102,103,104,105]
marks = [10,20,30,40,50]
print(roll_no)
print(type(roll_no))

[101, 102, 103, 104, 105]
<class 'list'>

**Note: Lists always start at index or position 0, so a list that holds 3 numbers can be indexed with 0,1 & 2**

In [127]:
roll_no = [101,102,103,104,105]
roll_no[-0]

101

In [126]:
#           0   1   2   3   4
roll_no = [101,102,103,104,105]
# roll_no[0]   ### first element is indexed as 0
# roll_no[4]    ### last element
print(roll_no[-3]) 
# roll_no[-0]   #### 0 is same as -0

103

In [ ]:
[0,  1,  2,   3,  4]   ### indexing left to right
[101,102,103,104,105]
[-5,  -4, -3, -2, -1] ### indexing right to left

In [4]:
# Storing variables of different types is possible
b =  ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [128]:
roll_no = [101,102,103,104,105]   #### roll no 106
roll_no.append(106)

In [129]:
roll_no

[101, 102, 103, 104, 105, 106]

In [130]:
l = ["siddhant",'parag','naman']
l.append("vaibhav")     #### adds at the end of the list
l

['siddhant', 'parag', 'naman', 'vaibhav']

In [131]:
l.insert(3,"Shyam")   #### inserts at pos i 
l

['siddhant', 'parag', 'naman', 'Shyam', 'vaibhav']

In [132]:
roll_no_temp = [107,108]
roll_no.extend(roll_no_temp) ### adds a list at end of a list
roll_no

[101, 102, 103, 104, 105, 106, 107, 108]

In [133]:
#### : allows slicing of list in python  list_name[start_index:final_index]
roll_no[1:7]

[102, 103, 104, 105, 106, 107]

In [153]:
roll_no1 = [101, 102, 103, 104, 105, 106] 
roll_no1[-3:-6:-1]

[104, 103, 102]

In [134]:
# Slicing lists is a technique used to get elements from, before or between different indices

print("All elelemts: ", roll_no[:])
print("All elements from the 3rd position onward: ", roll_no[2:])
print("All elements between the 2nd and 4th position: ", roll_no[1:3])
print("All elements before the last postion", roll_no[:-1])

# Very useful guide:

#a[start:stop]  # items start through stop-1
#a[start:]      # items start through the rest of the array
#a[:stop]       # items from the beginning through stop-1
#a[:]           # a copy of the whole array

All elelemts:  [101, 102, 103, 104, 105, 106, 107, 108]
All elements from the 3rd position onward:  [103, 104, 105, 106, 107, 108]
All elements between the 2nd and 4th position:  [102, 103]
All elements before the last postion [101, 102, 103, 104, 105, 106, 107]

In [149]:
#Try advanced slicing on your own!
### Advanced Slicing 

l = [0,1,2,3,4,5,6,7,8]

t = l[::1]   ### index 1 --> 1+2 =3 , 3 --> 3+2 =5
t

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [152]:
l = [0,1,2,3,4,5,6,7,8]

t = l[2:0:-1]   ### index 1 --> 1+2 =3 , 3 --> 3+2 =5
t

[2, 1]

In [154]:
l = [1,2,3,4,5]     #### [5,4,3,2,1]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [17]:
ram = ['ram']*10
print(ram)

['ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram']

In [155]:
#removing element from a list
list_temp = [10,20,30,40,50,60]
del list_temp[4] ## removes object at specified index
print(list_temp)

[10, 20, 30, 40, 60]

In [156]:
# Getting our list length
len(roll_no)

8

- lists are mutable<br>
- Strings are immutable

In [157]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [158]:
list1[0] = 100
list1

[100, 2, 3]

In [159]:
ss = 'hello'
ss[0] = 'j'
print(ss)

TypeError: 'str' object does not support item assignment

# Good Job!