# Python Beginners Tutorial

## Why Python?

- It is the only general-purpose programming language that comes with a solid ecosystem of scientific computing libraries.
- Supports a number of popular Machine Learning, Statistical and Numerical Packages (Pandas, Numpy, Scikit-learn, TensorFlow)
- Quite easy to get started
- It allows more flexibility such as building webservers, APIs and a plethora of other useful programming libraries.
- https://www.anaconda.com/products/distribution

In [87]:
#print("Hello World!")
print("My name is Parag")

My name is Parag

### Let's start with Simple Variables

**Variables** can be considered a container that holds or stores a peice of **information** from numbers to text.

In [97]:
# Storing a number
a = 14
print(a)

14

In [90]:
type(a)

int

In [91]:
b = 2.5
print(b)

2.5

In [92]:
type(b)

float

In [93]:
c = -1
type(c)

int

---

In [95]:
string1 = "Siddhant"
print(string1)

Siddhant

In [96]:
type(string1)

str

In [100]:
b1 = 'This is single quote text'
b2 = "This is double quote text"
b3 = '''This is triple quote text'''
print(b1)
print(b2)
print(b3)

This is single quote text
This is double quote text
This is triple quote text

In [22]:
type(b1)

str

In [101]:
my_string = "He has Ram's cap"
my_string

"He has Ram's cap"

In [103]:
b = 5
c = '5'

In [104]:
type(b)

int

In [105]:
type(c)

str

In [115]:
b = "63242345"
b[3:5]

'42'

In [118]:
b = "Hello"

print(b[-3:-1])

ll

In [74]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [120]:
a = "Hello World!"
print(len(a))

12

In [123]:
a = "Hello, World!"
print(a.lower())

hello, world!

---

In [126]:
# Boolean variable (True or False)
a = True    ### True and False are keywords
print(a)

True

In [127]:
type(a)

bool

### What can we do with variables?

In [128]:
# Let's add them together
a = 14
c = 3
d = a + c
print(d)

17

In [132]:
# Or
print(a/c)

4.666666666666667

In [34]:
print(15/3)

5.0

In [137]:
3**4

81

In [140]:
# % acts as a modulus operator which gives the remainder
25%6

1

In [145]:
25//8

3

In [11]:
#variable operations 
x = 15
y = 4
z = x + y
print(z)

19

In [149]:
# string variables
x = "Hello "
y = "World"
z = x + y
print(z)

Hello World

In [150]:
type(z)

str

In [151]:
# Can we change variable values?
n = 10
n = 18
print(n)

18

In [153]:
n = 5
n1 = n
print(n)
print(n1)

5
5

In [154]:
n1 = 6
print(n)
print(n1)

5
6

### Python Statements

Instructions that a Python interpreter can execute are called statements.
For example, a = 1 is an assignment statement. if statement, for statement, while statement, etc. are other kinds of statements.

In [159]:
a = 1+2+3+ \
    4+5+6
a

21

In [43]:
a = 1 + 2 + 3 + \
    4 + 5 + 6
a

21

In [160]:
# Multi-line statement
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
a

45

In [162]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
a

45

### Conditional Statements - If & Else

If statements will prove invaluable in programming when handling siutations where decisions need to be made

In [169]:
x = 12
x<10  #12<10

False

In [164]:
type(x<10)

bool

In [167]:
# Using booleans of conditional statements

a = True
if a:
    print("statement was true")

statement was true

In [168]:
x = 5

if x < 10:
    print("less than 10")
else:
    print("over 10")

less than 10

In [171]:
x = 100
x == 100

True

In [172]:
x == 90

False

In [173]:
x = 1000

if x < 10:
    print("less than 10")
elif x >= 10 and x < 19:
    print("greater than equal to 10 but less than 19")
elif x == 100:
    print("100")
elif x == 1000:
    print("1000")
else:
    print("equal to or greater than 19 ")

1000

### Loops

#### For Loop

In [1]:
range(1,5)#[1,2,3,4]

range(1, 5)

In [3]:
for i in range(3,10): #  [3,4,5,6,7,8,9]
    print(i)
#     print(i*2)

3
4
5
6
7
8
9

In [4]:
for num in range(10,18,2): #[10,12,14,16]
    print(num)

10
12
14
16

#### While Loop

In [5]:
x = 0
x

0

In [6]:
while x < 5: #0, 1
    x += 1  #x = x + 1 , x = 0 + 1 = 1, 2, 3, 4, 5
    print(x)
print(x)

1
2
3
4
5
5

In [8]:
a = True
type(a)

bool

In [9]:
a = 'true'
type(a)

str

In [10]:
x = 0
while True:
    if x == 10:
        break
    x += 1
    print(x)
print('Out of loop')

1
2
3
4
5
6
7
8
9
10
Out of loop

## Functions
Functions are extremely useful in creating peices of code you want to call or use several times in our program.

In [64]:
#Find area of circle with given radius
#Find volume of cylinder with given radius and height

In [65]:
radius = 12
area = 3.14 * (radius**2)
area

452.16

In [66]:
radius = 12
height = 5
volume = 3.14 * (radius**2) * height
volume

2260.8

In [68]:
def areaCircle(radius):
    area = 3.14 * (radius**2)
    return area

In [69]:
def volumeCylinder(radius = 20, height = 2):
    volume = areaCircle(radius) * height
    return volume

In [70]:
volumeCylinder(height = 5, radius = 12)

2260.8

In [71]:
volumeCylinder(radius = 9, height = 2)

508.68

In [73]:
areaCircle(12)

452.16

## Lambda Function
- A lambda function can take any number of arguments, but can only have one expression.

In [9]:
def AddTen(number):
    return number + 10

AddTen(65)

75

In [10]:
x = lambda a : a + 10
x(65)

75

In [11]:
x1 = lambda a,b,c,d,e : a + b + c * d - e


print(x1(1,2,3,4,5))

10

In [ ]:
# Syntax
#lambda arguments : expression

In [12]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2) #mydoubler is a lambda function

print(mydoubler(11))

22

# Good Job!