# Python Data Structures

### Lists
**Lists** are extremely useful in programming. Think of them as containers with different compartment, where each compartment stores another variable.

In [2]:
list1 = [1,2,3,4,5]

type(list1)

list

In [3]:
list1

[1, 2, 3, 4, 5]

In [4]:
list2 = ['Hi', 'Hello', 'Bye']
list2

['Hi', 'Hello', 'Bye']

In [5]:
list3 = [1, 2, 'Hi', 'Hello', True, 4.5]
list3

[1, 2, 'Hi', 'Hello', True, 4.5]

In [6]:
# A Simple array of integers
### empty list
l = ["siddhant",'parag','naman'] 
roll_no = [101,102,103,104,105]
marks = [10,20,30,40,50]
print(roll_no)
print(type(roll_no))

[101, 102, 103, 104, 105]
<class 'list'>


**Note: Lists always start at index or position 0, so a list that holds 3 numbers can be indexed with 0,1 & 2**

In [7]:
roll_no = [101,102,103,104,105]
roll_no[0]

101

In [8]:
#           0   1   2   3   4
roll_no = [101,102,103,104,105]
# roll_no[0]   ### first element is indexed as 0
# roll_no[4]    ### last element
print(roll_no[-3]) 
# roll_no[-0]   #### 0 is same as -0

103

In [ ]:
[0,  1,  2,   3,  4]   ### indexing left to right
[101,102,103,104,105]
[-5,  -4, -3, -2, -1] ### indexing right to left

In [9]:
# Storing variables of different types is possible
b =  ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [10]:
roll_no = [101,102,103,104,105]   #### roll no 106
roll_no.append(106)

roll_no

[101, 102, 103, 104, 105, 106]

In [11]:
l = ["siddhant",'parag','naman']
l.append("vaibhav")     #### adds at the end of the list
l

['siddhant', 'parag', 'naman', 'vaibhav']

In [12]:
l.insert(3,"Shyam")   #### inserts at pos i 
l

['siddhant', 'parag', 'naman', 'Shyam', 'vaibhav']

In [13]:
roll_no_temp = [107,108]
roll_no.extend(roll_no_temp) ### adds a list at end of a list
roll_no

[101, 102, 103, 104, 105, 106, 107, 108]

In [14]:
#### : allows slicing of list in python  list_name[start_index:final_index]
roll_no[1:7]

[102, 103, 104, 105, 106, 107]

In [15]:
roll_no1 = [101, 102, 103, 104, 105, 106] 
roll_no1[-3:-6:-1]

[104, 103, 102]

In [16]:
# Slicing lists is a technique used to get elements from, before or between different indices

print("All elelemts: ", roll_no[:])
print("All elements from the 3rd position onward: ", roll_no[2:])
print("All elements between the 2nd and 4th position: ", roll_no[1:3])
print("All elements before the last postion", roll_no[:-1])

All elelemts:  [101, 102, 103, 104, 105, 106, 107, 108]
All elements from the 3rd position onward:  [103, 104, 105, 106, 107, 108]
All elements between the 2nd and 4th position:  [102, 103]
All elements before the last postion [101, 102, 103, 104, 105, 106, 107]

In [17]:
# Very useful guide:

#a[start:stop]  # items start through stop-1
#a[start:]      # items start through the rest of the array
#a[:stop]       # items from the beginning through stop-1
#a[:]           # a copy of the whole array

In [19]:
#Try advanced slicing on your own!
### Advanced Slicing 

l = [0,1,2,3,4,5,6,7,8]

t = l[::2]   ### index 1 --> 1+2 =3 , 3 --> 3+2 =5
t

[0, 2, 4, 6, 8]

In [20]:
l = [0,1,2,3,4,5,6,7,8]

t = l[2:0:-1]   ### index 1 --> 1+2 =3 , 3 --> 3+2 =5
t

[2, 1]

In [21]:
l = [1,2,3,4,5]     #### [5,4,3,2,1]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [22]:
ram = ['ram']*10
print(ram)

['ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram']

In [23]:
#removing element from a list
list_temp = [10,20,30,40,50,60]
del list_temp[4] ## removes object at specified index
print(list_temp)

[10, 20, 30, 40, 60]

In [24]:
# Getting our list length
len(roll_no)

8

- lists are mutable<br>
- Strings are immutable

In [25]:
#Elements of the list can be modified, individual elements can be replaced, and the order of elements can be changed even after the list has been created.
list1 = [1,2,3]
list1

[1, 2, 3]

In [26]:
list1[0] = 100
list1

[100, 2, 3]

In [27]:
ss = 'hello'
ss[0] = 'j'
print(ss)

TypeError: 'str' object does not support item assignment

### List Comprehension

In [ ]:
    expression    generator                 filter
# [expr         for val in collection]
# [expr         for val in collection       if <test>]
# [expr         for val in collection       if <test1> and <test2>]

In [200]:
list1  = []
type(list1)

list

In [201]:
squares = []  

for i in range(1,11):  #[1,10]
    squares.append(i**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [202]:
squares2 = [i**2 for i in range(1,11)]
squares2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [207]:
list1 = ['parag', 'siddhant', 'naman', 'Shyam', 'Pankaj']

names2 = [name.upper() for name in list1 if name.upper().startswith('P')]

names2

['PARAG', 'PANKAJ']

---

### 2) Dictionaries
**Dictionaries** are python objects that store **key:value** pairs of data.

In [168]:
#word    ---- key
#meaning ---- value

In [208]:
var_temp = {}
type(var_temp)

dict

In [ ]:
[100,200,450]

In [209]:
# Creating a dictionary
country_info = {"name": "Japan", "capital": "Tokyo"}

print(country_info)
print(country_info["name"])

{'name': 'Japan', 'capital': 'Tokyo'}
Japan

In [210]:
# We can store multiple values and easily add information to our dictionary
country_info['population'] = '126.8M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '126.8M'}

In [211]:
# We can also change values easily

country_info['population'] = '100M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M'}

In [212]:
# Values can be of any data type

country_info['regions'] = ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']}

In [213]:
country_info['health'] = {"life_expectancy": 84.1, "birth_rate": 1.44}
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [217]:
country_info['regions'][3]

'Chubu'

In [177]:
country_info['health']['birth_rate']

1.44

In [218]:
country_info.keys()

dict_keys(['name', 'capital', 'population', 'regions', 'health'])

In [219]:
country_info.values()

dict_values(['Japan', 'Tokyo', '100M', ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], {'life_expectancy': 84.1, 'birth_rate': 1.44}])

In [179]:
country_info.keys()

dict_keys(['name', 'capital', 'population', 'regions', 'health'])

In [220]:
for key,val in country_info.items():
    print(key,'-->', val)

name --> Japan
capital --> Tokyo
population --> 100M
regions --> ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
health --> {'life_expectancy': 84.1, 'birth_rate': 1.44}

- Both lists and dictionaries are mutable -- You can modify, add, remove values from them

In [221]:
del country_info['capital']

In [222]:
country_info

{'name': 'Japan',
 'population': '100M',
 'regions': ['Hokkaido',
  'Tohoku',
  'Kanto',
  'Chubu',
  'Kinki',
  'Chugoku',
  'Shikoku',
  'Kyushu-Okinawa'],
 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

### 3) Tuple


- enclosed by ()
-  immutable

In [223]:
#empty tuple
tuple_temp = ()
type(tuple_temp)

tuple

In [224]:
tuple_temp = (1,2,3,4)
print(tuple_temp)
print(type(tuple_temp))

(1, 2, 3, 4)
<class 'tuple'>

In [225]:
#Employee Tuple
#id, name, age, salary
employee_details = ('P001', 'John', '56', '10000')
employee_details

('P001', 'John', '56', '10000')

In [227]:
employee_details[1:3]

('John', '56')

In [228]:
employee_details[0] ='P002' #immutable

TypeError: 'tuple' object does not support item assignment

In [234]:
employee_details_list = list(employee_details)
employee_details_list[0] = 'P002'
employee_details = tuple(employee_details_list)
employee_details

('P002', 'John', '56', '10000')

In [229]:
#Combining tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
tup3

(12, 34.56, 'abc', 'xyz')

In [230]:
#deleting whole tuple
tup1 = (1,2,4)
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [192]:
#convert list into tuple
l1 = [1,2,3]
print(l1)
t1 = tuple(l1)
print(t1)

[1, 2, 3]
(1, 2, 3)

In [231]:
t2 = (9,8,6)
l2 = list(t2)
l2

[9, 8, 6]

### 4) Sets

- duplicate values are not present
- stores elements in no particular order - Slicing makes no sense
- created using {}

In [235]:
age = {56, 32, 24, 78, 10, 213, 62, 78,90,1,23, 23,32}
print(type(age))
age

<class 'set'>

{1, 10, 23, 24, 32, 56, 62, 78, 90, 213}

In [240]:
list1 = [1,2,3,2]
set1 = set(list1)
list1 = list(set1)
list1

[1, 2, 3]

In [236]:
#What will be the output?
a = {}
print(type(a))

<class 'dict'>

In [237]:
b = set()
type(b)

set

In [238]:
#Every element is unique (no duplicates) and must be immutable (which cannot be changed).
#However, the set itself is mutable. We can add or remove items from it.
age = {129, 56,23,918,90,75,15,78}
print(age)
#Modifying set
#.add()
age.add(6) #adds elements at any position
print(age)

#.discard() #removes matching object
age.discard(15)
print(age)

#.clear() #removes all elements
age.clear()
print(age)

{129, 75, 78, 15, 918, 23, 56, 90}
{129, 6, 75, 78, 15, 918, 23, 56, 90}
{129, 6, 75, 78, 918, 23, 56, 90}
set()

In [241]:
#Set operations
Junior_ds = {'R', 'Python', 'Tableau','C'}
Senior_ds = {'R', 'Python', 'Tableau', 'Scala', 'Java'}

#Union - all elements belonging to both A and B
print('Union: ', Junior_ds.union(Senior_ds))

#Interscetion - common to both A and B
print('Intersection: ', Junior_ds.intersection(Senior_ds))

Union:  {'Tableau', 'R', 'Scala', 'Java', 'C', 'Python'}
Intersection:  {'Python', 'Tableau', 'R'}

In [199]:
Senior_ds_1 = {'Python', 'Tableau', 'Scala', 'Java', 'C#'}

print('Union: ', Junior_ds.union(Senior_ds, Senior_ds_1))
print('Intersection: ', Junior_ds.intersection(Senior_ds, Senior_ds_1))

Union:  {'Tableau', 'R', 'Scala', 'Java', 'C', 'C#', 'Python'}
Intersection:  {'Tableau', 'Python'}

### Map and Filter

In [2]:
def times2(var):
    return var*2

times2(25)

50

In [4]:
sequence = [1,2,3,4,5]

list(map(times2, sequence))

[2, 4, 6, 8, 10]

In [5]:
def iseven(var):
    return var%2 == 0

#iseven(22)
iseven(23)

False

In [6]:
list(map(iseven, sequence))

[False, True, False, True, False]

In [7]:
sequence = [27,34,81,23,99,10,28,89,10]
list(filter(iseven, sequence))

[34, 10, 28, 10]

In [8]:
def square(var):
    return var*var

square(25)

625

In [9]:
#Use both map and filter together
sequence = [27,34,81,23,99,10,28,89,12,24,54,78,99]

list(map(square,filter(iseven, sequence)))

[1156, 100, 784, 144, 576, 2916, 6084]

### File Handling

- Mostly we work with variables and store data in them. But what if we want a permanent way of storing data?
- Even if I close my application, I want my data to be stored.

In [11]:
#to fetch data
f = open('Introduction.txt', 'r')
print(f.read())
f.close()

Hi Everyone!
Welcome to our course!!
third line
fourth line

In [15]:
f = open('Introduction.txt', 'r')
print(f.readline(), end = '')
print(f.readline())
f.close()

Hi Everyone!
Welcome to our course!!

In [16]:
f1 = open('NewFile.txt', 'w')
f1.write('Hello ')
f1.close()

In [17]:
f1 = open('NewFile.txt', 'a')
f1.write('Everyone')
f1.write('\n')
f1.write('yellow')
f1.close()

In [18]:
f = open('Introduction.txt', 'r')
f1 = open('NewFile.txt', 'w')
for data in f:
    f1.write(data)
f.close()
f1.close()

## Errors & Exception Handling

In [21]:
a = 5 #Normal Statement
b = 2 #Normal Statement
print(a/b) #Critical Statement
print('Bye')

2.5
Bye

In [22]:
a = 5 #Normal Statement
b = 0 #Normal Statement
print(a/b) #Critical Statement
print('Bye')

ZeroDivisionError: division by zero

In [23]:
a = 5 
b = 0 #0
try:
    print(a/b)
except Exception:
    print('Hey, You cannot divide by number zero')
    
print('Bye')

Hey, You cannot divide by number zero
Bye

In [24]:
a = 5 
b = 0 #2
try:
    print(a/b)
except Exception as e:
    print(e)
    
print('Bye')

division by zero
Bye

In [27]:
a = 5 
b = 2 #2
try:
    print('resource open')
    print(a/b)
    k = int(input('Enter a number: '))
    print(k)
    
except ZeroDivisionError as e:
    print('Hey, You cannot divide by number zero:', e)
except ValueError as e:
    print('Invalid Input:',e)
except Exception as e:
    print('Something went wrong...', e)
finally:
    print('resource closed')

resource open
2.5
Enter a number: hi
Invalid Input: invalid literal for int() with base 10: 'hi'
resource closed

# Good Job!